@charset 'utf-8';
@import "./Variables";

.nav {
  overflow: auto;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 15%;
  min-width: 260px;
  height: calc(100vh - 4rem);
  background-color: $bg-color;
}
