@charset 'utf-8';
@import "./Variables";

.header-btn {
  float: left;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  color: #fff;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: #{$bg-color-hover};
    color: #ddd;
  }
}

.header-btn--right {
  float: right;
}
