.load {
  box-sizing: border-box;
  padding-bottom: 1rem;

  &__title {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #818688;
  }

  &__wrap-value {
    margin-bottom: 1rem;
  }

  &__value {
    font-size: 2rem;
    font-weight: bold;
    color: #389fca;
  }

  &__kw {
    font-size: 1.5rem;
    color: #818688;
  }

  &__time {
    color: #818688;
    font-size: 0.8125rem;
  }

  & + & {
    padding-top: 1rem;
    border-top: 1px solid #000;
  }
}
